@model IEnumerable<BattleCompanies.Models.Company>

@{
    ViewData["Title"] = "Campaign";
    int campID = ViewBag.CampaignToPost;
}

<h1>Campaign</h1>

<p>
    <a asp-action="Create" asp-route-company="@{ new Company(); } " asp-route-campID="@campID">Add Company</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Influence)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Influence)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompanyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompanyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
