
@model IEnumerable<BattleCompanies.Models.Campaign>

@{
    ViewData["Title"] = "Campaign Browser";
}

<body>
    <h1>Stuff to go here.</h1>

    <p>
        <a asp-action="NewCampaign">New Campaign</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CampaignID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CampaignName)
                </th>
                <th>
                    Number of Players
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Companies.Count)
                </td>
                <td>
                    @Html.ActionLink("View", "Campaign", "Campaign", new { id=item.CampaignID }, null)
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
